<table id="caseTable">  
  <tr>
    <th id="benefitsVerification" class="nameCol">Benefits Verification</th>
    <th class="numCol">{{countData(data,'BV')}}</th>
    <th class="smCol"></th>
    <th id="priorAuthorization" class="nameCol">Prior Authorization</th>
    <th class="numCol">{{countData(data,'PA')}}</th>
    <th class="smCol"></th>
    <th id="precriptionReferral" class="nameCol">Precription Referal</th>
    <th class="numCol">{{countData(data,'PR')}}</th>
    <th class="smCol"></th>
    <th id="pap" class="nameCol">PAP</th>
    <th class="numCol">{{countData(data,'PAP')}}</th>
    <th class="smCol"></th>
    <th id="copay" class="nameCol">Copay</th>
    <th class="numCol">{{countData(data,'CoPay')}}</th>
    <th class="smCol"></th>
  </tr>
</table>