#title { padding:10px 0px 0px 0px;}

#service_types { height: 30px; border: 2px solid gray; margin: 0; }

#serviceTitle { font-weight: bold;}

.under-line {
    border-style: hidden hidden solid hidden;
    border-color: gray;
}

table#caseTable {
    margin: 10px 0px;
}
th#pap {
    text-align: center;
}
th#copay {
    text-align: center;
}
.toggle_button {
    text-align: right;
    padding: 0;
}
.panel-title {
    padding: 0px 0px 0px 10px;
}
.nameCol{
    height: 100px;
    width: 100px;
    padding: 5px;
    background-color: purple;
    color: white;
}
.numCol{
    width:50px;
    height:100px;
    background-color: lightpink;
}
.smCol{
    width: 5px;
}
.typeColor{
    width: 30px;
    height:15px;
    border-radius: 3px;
    margin: 5px;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.lightBlue{
    background-color: lightseagreen;
}
.blue {
    background-color: blue;
}
.darkBlue{
    background-color: darkblue;
}