<!--The content below is only a placeholder and can be replaced.-->
<div class="col-md-12" style="text-align:left">
  <h3 id="title">
    {{title}}
  </h3>
</div>
<div class="panel-group col-md-12">
  <div class="panel panel-default col-md-12">
    <div class="panel-heading under-line row ">
      <h4 class="panel-title col-md-10">Completed Cases over the past 7 days</h4>
      <h4 class="toggle_button col-md-2" data-toggle="collapse" href="#collapse1">+</h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body row col-sm-12">
        <table id="caseTable">
          <tr>
            <th id="benefitsVerification" class="nameCol">Benefits Verification</th>
            <th class="numCol"></th>
            <th class="smCol"></th>
            <th id="priorAuthorization" class="nameCol">Prior Authorization</th>
            <th class="numCol"></th>
            <th class="smCol"></th>
            <th id="precriptionReferal" class="nameCol">Precription Referal</th>
            <th class="numCol"></th>
            <th class="smCol"></th>
            <th id="pap" class="nameCol">PAP</th>
            <th class="numCol"></th>
            <th class="smCol"></th>
            <th id="copay" class="nameCol">Copay</th>
            <th class="numCol"></th>
            <th class="smCol"></th>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default col-md-12">
    <div class="panel-heading under-line row">
      <h4 class="panel-title col-md-10">Current Cases</h4>
      <h4 class="toggle_button col-md-2" data-toggle="collapse" href="#collapse2">+</h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body col-md-12">
        <div class="panel-heading under-line row">
          <h4 class="panel-title col-md-10">Filter Options</h4>
          <h4 class="toggle_button col-md-2" data-toggle="collapse" href="#collapse3">+</h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
        <p class= "line"></p>
      </div>
    </div>
  </div>
</div>

