#title { padding:10px 0px 0px 0px;}

#service_types { border: 2px solid gray; margin: 0; }

#status_key{border: 2px solid gray; margin: 5px 0 0 0; padding: 0 5px;}

#status_name { margin:0 5px 0 0;}

#statusKeyText {width: 85px;}

#complete_Key {width: 20%;}

#inProgress-Key {width: 20%; }

#actionNeeded_Key {width: 20%; }

.bold { font-weight: bold;}

.under-line {
    border-style: hidden hidden solid hidden;
    border-color: gray;
}

table#caseTable {
    margin: 10px 0px;
}

.toggle_button {
    text-align: right;
    padding: 0;
}
.panel-title {
    padding: 0px 0px 0px 10px;
}

.typeColor{
    width: 30px;
    height:15px;
    border-radius: 3px;
    margin: 5px;
}
.green{
    background-color: green;
}
.yellow{
    background-color: gold;
}
.lightBlue{
    background-color: lightseagreen;
}
.blue {
    background-color: blue;
}
.darkBlue{
    background-color: darkblue;
}

.key_text {font-size: 14px; padding: 1px;}
