<div class="card col-md-12">
  <div></div>
  <table *ngFor="let test_data of test" class="col-md-12">
    <tr id=case_container class="case_row row col-md-12">
      <th class="shape_contain" style="height: 22px">
        <div *ngIf="(test_data.statusKey == 'ActionNeeded')">
          <div class="actionNeeded"></div>
        </div>
        <div *ngIf="(test_data.statusKey == 'Completed')">
            <div class="completed"></div>
        </div>
        <div *ngIf="(test_data.statusKey == 'InProgress')">
            <div class="inProgress"></div>
        </div>
      </th>
      <th class="col-sm-2" style="font-size: 14px; font-weight: bold; padding: 3px 10px; color:blue; ">{{test_data.name}}</th>
      <th class="col-sm-2" style="font-size: 14px; font-weight:bold; padding: 3px 10px;">Patient ID: {{test_data.patientID}}</th>
      <th class="col-sm-3" style="font-size: 14px; font-weight:bold; padding: 3px 10px;">Date of Birth: {{test_data.dob}}</th>
      <th class="col-sm-2" style="font-size: 14px; font-weight:bold; padding: 3px 10px;">Service ID: {{test_data.serviceID}}</th>
      <th style="width: 20%; font-weight:bold;  padding: 3px 10px; color: white;">
        <div *ngIf="(test_data.service == 'CoPay')">
            <div class="CoPay">CoPay</div>
        </div>
        <div *ngIf="(test_data.service == 'PA')">
            <div class="PA">Prior Authorization</div>
        </div>
        <div *ngIf="(test_data.service == 'BV')">
            <div class="BV">Benefits Verification</div>
        </div>
        <div *ngIf="(test_data.service == 'PAP')">
            <div class="PAP">Benefits Verification</div>
        </div>
        <div *ngIf="(test_data.service == 'PR')">
            <div class="PR">Benefits Verification</div>
        </div>
      </th>
    </tr>
  </table>
</div>
