<div class="card">
  <ng-container *ngFor="let test_data of test">
    <div id=case_container class="case_row row col-md-12">
      <div class="shape_contain">
        <div *ngIf="(test_data.statusKey == 'ActionNeeded')">
          <div class="actionNeeded"></div>
        </div>
        <div *ngIf="(test_data.statusKey == 'Completed')">
            <div class="completed"></div>
        </div>
        <div *ngIf="(test_data.statusKey == 'InProgress')">
            <div class="inProgress"></div>
        </div>
      </div>
      <div style="color:blue; margin: 0 20px 0 5px; ">{{test_data.name}}</div>
      <div>Patient ID: {{test_data.patientID}}</div>
      <div>Date of Birth: {{test_data.dob}}</div>
      <div>Service ID: {{test_data.serviceID}}</div>
      <div>{{test_data.service}}</div>
    </div>
  </ng-container>
</div>
